################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/challenge/bin/Release/net8.0
/challenge/obj/Release/net8.0
